@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: rgb(34, 33, 31);
    color: rgb(248, 244, 234);
    text-align: center;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: rgb(235, 43, 43);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

input, textarea {
    background: transparent;
    min-height: 45px;
    outline: none;
    border: none;
    color: rgb(248, 244, 234);
    font-size: 1.2rem;
    padding: .2em;
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

#title {font-size: 2rem}

textarea {
    min-height: 100px;
    resize: vertical;
}
